<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>	

	<!-- Dependencies -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<link rel="stylesheet" href="/css/user_panel.css">
	<link rel="stylesheet" href="/css/extras/datepicker.css">

</head>
<body>
	<div class="container login-container">
		<div class="row  justify-content-center ">
		  <div class="card col-md-8 login-form-1 groupShadow">
			<article class="card-body" style="max-width: 800px;">
			<!-- Title -->
			<div class="row">
				<div class="col-5 d-flex justify-content-end">
					<img src="/img/logo.jpg" alt="..." class=" rounded-circle "  width="100" height="100">
				</div>
				<div class="col-7 justify-content-start	">
					<h4 class="card-title mt-3">BITÁCORA</h4>
					<p class="">Ingrese los datos</p>
				</div>
			</div>
			<!-- end Title -->
			
			<!-- change user-->
			<br>
			<a href="/logout" class="nav-link font-italic bg-white text-dark text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
					<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
				</svg>
					Cambiar de usuario
			  </a>   
			<br>
			<br>
			<!-- end change user -->

			<!-- Input nombre-->
			<div class="row">
			<div id='div_nombre' class="form-group input-group col-sm-8 col-11 mx-auto">
				<div class="input-group-prepend">
					<span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
					</svg></span>
				</div>
	
				<input type="text" id="nombre" class="form-control " placeholder="Nombre completo" type="text"  
				value="<%=data.nombre%>" required disabled>

				<div id="lbNombre_invalid" class="invalid-feedback">
					Colorcar el nombre
				</div>
			</div> 
			</div>
			<!-- end nombre -->
			
			<!-- Input fecha -->

			<!-- Input fecha -->

			<input id='date' type="date" class="form-control" style="display: none;" type="text" value="<%=data.fecha%>"  required/>

			<!-- date picker -->
			<div class="row my-0 py-0">
				<div class='datepicker my-0 py-0 col-sm-12 col-12 mx-auto '>
					<div class="month shadow-sm">
						<ul>
							<li id="prev-week" class="prev">&#10094;</li>
							<li id="next-week" class="next">&#10095;</li>
							<li><div id='month'></div><span id="year" style="font-size:16px">2017</span></li>
							<h6 class="mt-2 mb-0 col-12 text-white text-center"><i id="cal-hoy">hoy</i></h6>
						</ul>
					</div>
					<table class="table shadow-sm">
						<thead class="weekdays">
							<tr>
								<td scope="col">Lu</th>
								<td scope="col">Ma</th>
								<td scope="col">Mi</th>
								<td scope="col">Ju</th>
								<td scope="col">Vi</th>
								<td scope="col">Sa</th>
								<td scope="col">Do</th>
							</td>
							</tr>
						</thead>
						<tbody>
							<tr class="days">
								<td onclick="changeDate(0)" id="day0"></td>
								<td onclick="changeDate(1)" id="day1"></td>
								<td onclick="changeDate(2)" id="day2"></td>
								<td onclick="changeDate(3)" id="day3"></td>
								<td onclick="changeDate(4)" id="day4"></td>
								<td onclick="changeDate(5)" id="day5"></td>
								<td onclick="changeDate(6)" id="day6"></td>
							</tr>
							<tr class="des">
								<td id="des0">--</td>
								<td id="des1">--</td>
								<td id="des2">--</td>
								<td id="des3">--</td>
								<td id="des4">--</td>
								<td id="des5">--</td>
								<td id="des6">--</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
			<!-- end date picker -->
			 <!-- end input fecha -->
			<!-- Divider -->
			<p class="divider-text">
				<span class=""></span>
			  </p>
			  <!-- End divider-->		

			<div class="bg-white rounded py-3">
			  <!-- form start-->
			  <form id="main_form" class="needs-validation" autocomplete="off" novalidate>
  
				  <!-- Input cantidad and concepto-->
				  <div class="row">
					  <!-- Input cantidad -->
					  <div id='div_cantidad' class="form-group input-group col-sm-3 col-4">
						  <div class="input-group-prepend ">
							  <div class="input-group-prepend">
								  <span class="input-group-text"> 
									  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hexagon-fill" viewBox="0 0 16 16">
										  <path fill-rule="evenodd" d="M8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z"/>
									  </svg>
								  </span>
							  </div>
						  </div>
						  <input type="number" id="cantidad" class="form-control " placeholder="#" value="" min="0" max="200" step="1" type="text" required>
						  <div class="col-md-12 mx-auto">
							  <h6 class="text-center small text-info">Cantidad</h6>
						  </div>
						  <div id="lbCantidad_invalid" class="invalid-feedback">
							  Agregar cantidad
						  </div>
					  </div> 
					  <!-- end Cantidad -->
				  
					  <!-- Input concepto -->
					  <div id='div_concepto' class="form-group input-group col-sm-9 col-8 ui-widget">
					  <input id="concepto" class="form-control autocomplete " value="">
				  	  <button id="btn-concepto-drop" class="btn shadow-sm btn-secondary dropdown-toggle px-1" type="button" data-toggle="dropdown"></button>
					  <div class="col-md-12 mx-auto">
						  <h6 class="text-center small text-info">Concepto</h6>
					  </div>
					  <div id="lbConcepto_invalid" class="invalid-feedback">
						  Agregar concepto
					  </div>
					  </div> 
					  <!-- Input end concepto -->
				  </div>
				  <!-- end concepto y cantidad -->

			  <!-- Input predial-->
			  <div id='div_predial' class="form-group input-group">
				  <div class="input-group-prepend ">
					<span class="input-group-text"> 
					  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
						  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
						</svg>
					</span>
				  </div>
	
				  <input id="predio" value="" class="form-control ">
				  <button id="btn-predio-drop" class="btn shadow-sm btn-secondary dropdown-toggle px-1" type="button" data-toggle="dropdown"></button>

				  <div class="col-md-12 mx-auto">
					<h6 class="text-center small text-info">Predio</h6>
				  </div>
				  <div id="lbPredio_invalid" class="invalid-feedback">
					  Agregar predio
				  </div>
			  </div> 
			  <!-- end predial -->
  
			  <!-- bt submit-->
			  <div class="form-group ">
				  <button id="btn_submit" type="submit" class="btn btn-primary btn-block" > Agregar </button>
			  </div> <!-- form-group// -->              
			  <div class="form-group ">
				<input type="button" id="btn_cancel" style="display:none" class="btn btn-warning btn-block" value="Cancelar" >
				</div> <!-- form-group// -->   
			    <!-- end bt -->
			  </form>
			</div>
			<!-- Divider -->
			<p class="divider-text">
			<span class=""></span>
			</p>
			<!-- End divider-->		
			<!-- Registros  -->
			<div>
			<%if(data.saved=="Sin guardar"){%>
				<p class="text-muted text-center">Sin registros</p>
			<%}%> 
			<% for(i=0;i<data.datos.length;i+=1){
				r=data.datos[i];
				%>
				<div class="row">
					<div class="col-12">
						<table class="table table-bordered shadow-sm rounded bg-white">
						<tbody>
							<tr>
								<td class="text-center bg-inputspan">				
									<span> 
										<svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-hexagon-fill" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z"/>
										</svg>
									</span>
								</td>
								<td id="concepto<%=i%>"><%=r.concepto%></td>
							</tr>
							<tr>
								<td class="text-center bg-inputspan">				
									<span> 
										<svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
											<path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
											</svg>
									</span>
								</td>
								<td id="cantidad<%=i%>"><%=r.cantidad%> hrs</td>
							</tr>
							<tr>
								<td class="text-center bg-inputspan">				
									<span> 
										<svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
											<path	 d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
										</svg>
									</span>
								</td>
								<td id="predio<%=i%>"><%=r.predio%></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="row">
										<div class="col d-flex justify-content-center">
											<div>
												<svg onclick="deleteRegister('<%=i%>')" class="bg-trash bt-delete" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
												</svg>
											</div>
										</div>
										<div class="col d-flex justify-content-center">
											<div>
												<svg onclick="editRegister('<%=i%>')" class="text-primary bt-edit" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
													<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
												</svg>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
					</div>				
			<%}%> 

			</div>	
			<!-- end registros  -->

		  </article>
		  
		  </div> <!-- card.// -->
		</div> 
		<!--container end.//-->
		</div>
	  </div>
	
	<script src="/js/user_panel.js"></script>
	<script src="/js/extras/datepicker.js"></script>
</body>
</html>
