<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	<link rel="stylesheet" href="/css/user_panel.css">
</head>
<body>
	<div class="container login-container">
		<div class="row  justify-content-center ">
		  <div class="card col-md-8 login-form-1 groupShadow">
			<article class="card-body" style="max-width: 800px;">

			<div class="row">
				<div class="col-5 d-flex justify-content-end">
					<img src="/img/logo.jpg" alt="..." class=" rounded-circle shadow-sm"  width="100" height="100">
				</div>
				<div class="col-7 justify-content-start	">
					<h4 class="card-title mt-3">BITÁCORA</h4>
					<p class="">Ingrese los datos</p>
				</div>
			</div>

			<br>
			<br>

			<div class="row" >
			<!-- Input fecha -->
			<div id='div_date' class="form-group input-group col-sm-6 mx-auto">
				<div class="input -group-prepend">
					<span class="input-group-text">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2-event-fill" viewBox="0 0 16 16">
							<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM11.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
						  </svg></span>
				</div>
				<input id='date' type="date" class="form-control" placeholder="Fecha" type="text" value="<%=data.fecha%>"  required/>
				<div id="lbDate_invalid" class="invalid-feedback">
					Colocar fecha
				</div>
			</div> <!-- end input -->

			<!-- Divider -->
			</div>	
			<p class="divider-text">
			  <span class=""></span>
			</p>
			<div class="row">
				<div class="col-md-12 mx-auto">
				<p class="text-center small <% if (data.saved=='Guardado') {%> text-primary <%} else {%> text-muted <%}%> "><%=data.saved%></p>
				</div>
			</div>
			<br>
			<!-- End divider-->
			
			<!-- form start-->
			<form id="main_form" class="needs-validation" novalidate>
	
			<!-- Input nombre-->
			<div id='div_nombre' class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
					  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
					</svg></span>
				</div>
	
				<input type="text" id="nombre" class="form-control" placeholder="Nombre completo" type="text"  value="<%=data.datos.nombre%> " required disabled>
				<div class="col-md-12 mx-auto">
					<h6 class="text-center small text-info">Nombre</h6>
				</div>
				<div id="lbNombre_invalid" class="invalid-feedback">
					Colorcar el nombre
				</div>
			</div> <!-- end nombre -->
	
			<div class="row">
				<!-- Input cantidad-->
				<div id='div_cantidad' class="form-group input-group col">

					<div class="input-group-prepend">
						<div class="input-group-prepend">
							<span class="input-group-text"> 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hexagon-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z"/>
								</svg>
							</span>
						</div>
					</div>
					<input type="number" id="cantidad" class="form-control" placeholder="Cantidad" <% if(!data.habilitado){ %> disabled <% }%> value="<%=data.datos.cantidad%>" min="0" max="200" step="1" type="text" required>
					<div class="col-md-12 mx-auto">
						<h6 class="text-center small text-info">Cantidad</h6>
					</div>
					<div id="lbCantidad_invalid" class="invalid-feedback">
						Agregar cantidad
					</div>
				</div> 
				<!-- end Cantidad -->
				
				<!-- Input concepto-->
				<div id='div_concepto' class="form-group input-group col">
					<input type="search" id="concepto" class="form-control" value="<%=data.datos.concepto%>" <% if(!data.habilitado){ %> disabled <% }%> list="list_conceptos">
					<div class="col-md-12 mx-auto">
						<h6 class="text-center small text-info">Concepto</h6>
					</div>
					<div id="lbConcepto_invalid" class="invalid-feedback">
						Agregar concepto
					</div>
					</div> <!-- end concepto -->
			</div>
			
			<!-- Input predial-->
			<div id='div_predial' class="form-group input-group">
				<div class="input-group-prepend">
				  <span class="input-group-text"> 
					  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hexagon-fill" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z"/>
						</svg>
				  </span>
				</div>
  
				<input type="search" id="predio" value="<%=data.datos.predio%>" <% if(!data.habilitado){ %> disabled <% }%> class="form-control" list="list_predio">
				<div class="col-md-12 mx-auto">
				  <h6 class="text-center small text-info">Predio</h6>
			  </div>
				<div id="lbPredio_invalid" class="invalid-feedback">
				  Agregar predio
				</div>
			  </div> <!-- end input -->

			<!-- bt submit-->
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block" <% if(!data.habilitado){ %> disabled <% }%> > Guardar </button>
			</div> <!-- form-group// -->       
			<a href="/logout" class="nav-link font-italic bg-white text-dark text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
					<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
				</svg>
				  Cerrar sessión
			  </a>                                                                 
		  </form>
		  </article>
		  </div> <!-- card.// -->
		</div> 
		<!--container end.//-->
		</div>
	  </div>
	  
	<!-- Lista sugerencias concepto y predio -->
	<datalist id="list_conceptos">
		<%conceptos.forEach(c => { %>
			<option value="<%=c%>">
		<%}); %>
	</datalist>
	<datalist id="list_predio">
		<%predios.forEach(p => { %>
			<option value="<%=p%>">
		<%}); %>
	</datalist>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="/vendor/js/mobile_menu.js"></script>

	<script src="/js/user_panel.js"></script>
</body>
</html>
